.card{
    
    font-size: 10px;
    margin: 10px;
    text-align: center;
    display: block;
}
.conta{
	padding-left: 17%;
	padding-right:  8%;
}
.titulo{
	text-align: center;
	    padding-right: 133px;
}